$colourOne: #3b3a30;
$colorTwo: white;

@mixin flex {
    display: flex;
    align-items: center;
    justify-content: center;
}

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    background-color: #b2c2bf;
    font-family: 'Poppins', 'Roboto', sans-serif;
}

// HEADER

.header {
    @include flex;
    background-color: $colourOne;
    color: $colorTwo;
    
    h1 {
        font-size: 2.2rem;
    }
}

// GAMEBOARD

.gameboard {
    height: 600px;
    width: 600px;
    margin: 20px auto;
    background-color: $colorTwo;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    border: 1px solid $colourOne;
    min-width: 320px; 

    .square {
        border: 0.1px solid $colourOne; 
    }
}

.turn {
    @include flex;
    font-size: 1.6rem;
    margin-top: 50px;
    font-weight: 600;
    color: $colourOne;
};

// RESULTS POP UP CARD

.background {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.8);
    @include flex;

    .results-card {
        text-align: center;
        width: 10%;
        min-width: 320px;
        height: 250px;
        background-color: #dbd8e3;  
        border-radius: 10px;    
        padding: 4px;
    }
    
    p {
        font-size: 2rem;
    }
    
    button {
        margin-top: 30px;
        padding: 10px 20px;
        color: white;
        background-color: $colourOne;
        border-radius: 20px;
        width: 120px;
        box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
        font-weight: 600;
    }
}



